<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.2" newVersion="4.1.1.2" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--Логин пользователя--> 
    <add key = "UserLogin" value = "martugin@mail.ru"/>
    <!--Использовать двухфакторную авторизацию-->
    <add key = "UseTwoFactorAuthorization" value = "false"/>
    <!--Загружать тексты всей истории репостов из постов, содержащих репосты-->
    <add key = "LoadCopyHistory" value = "true"/>
    <!--Количество загружаемых постов-->
    <add key = "LoadPostsCount" value = "5"/>
    <!--Строковое короткое имя (id) стены для размещения результатов-->
    <add key = "ResultPostDomain" value = "club173913243"/>
    <!--Количество знаков после запятой, выводимых в частотностях букв, если 0, то выводятся все знаки-->
    <add key = "RoundDigitCount" value = "4"/>
  </appSettings>
</configuration>